body {
	font-family: 'Roboto', sans-serif;
	/*background-color: #ff0080;*/
	background-color: #282828;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	font-size: 125%;
}

footer, header {
	text-align: center;
}

table {
	border: 1px solid black;
	background-color: #ff0080;

}

#main {
	color: purple;
}

.vn {
	font-size: 150%;
}

.pl {
	font-size: 200%;
}
