body {
	font-family: 'Roboto', sans-serif;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.center {
	text-align: center;
}

.delay1s {
	animation-delay: 1s;
}

.delay2s {
	animation-delay: 2s;
}

.delay3s {
	animation-delay: 3s;
}
